.filters_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.total_recipes {
    font-family: var(--font-title);
    font-size: 21px;
}

/* filters */

.filters_wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 66px;
    
    justify-content: space-between;
}

.textBox_wrapper {
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 56px;
    background-color: var(--white);
    border-radius: 11px;
}

.textBox_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    border-radius: 11px;
    background-color: var(--white);
    cursor: pointer;
}

.sort_title {
    font-family: var(--font-text);
    font-size: 16px;
    color: var(--text-color);
    padding-left: 16px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.summary-chevron-up {
    position: absolute;
    right: 10px;
}

.summary-chevron-down {
    display: none;
    position: absolute;
    right: 10px;
}

details[open] .summary-chevron-up {
    display: none;
}

details[open] .summary-chevron-down {
    display: block;
}

details[open] .textBox_wrapper {
    border-radius: 0;
}

.textBox_description {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    bottom: -241px;
    width: 195px;
    max-height: 259px;
    overflow: scroll;
    background-color: var(--white);   
    border-radius: 0 0 11px 11px;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 9px;
}

.list_item_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 16px;
}

.list_item_wrapper:hover, .list_item_wrapper:hover .link_container {
    background-color: var(--header-title-color);
}

.selected {
    background-color: var(--header-title-color);
}

.link_container {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 14px;
    text-transform: capitalize;
}

.link_container_selected {
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    background-color: var(--header-title-color);
}
.unselect {
    display: none;
    z-index: 4;
}

.search_wrapper {
    width: 163px;
    position: relative;
    margin-bottom: 11px;
    padding-left: 16px;
}

.search_input {
    width: 100%;
    height: 36px;
    border-radius: 2px;
    border: solid 1px var(--bg-grey);
    padding: 0;
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 14px;
}

.search_button {
    position: absolute;
    top: 9px;
    right: 7px;
}

.search_button_icon {
    font-size: 20px;
    color: var(--grey);
}

/* Stickers section */

.stickers_section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
    gap: 21px;
}

.sticker_wrapper {
    display: flex;
    background-color: var(--header-title-color);
    border-radius: 10px;
    padding: 17px 18px;
    width: 159px;
    justify-content: space-between;
}

.sticker_text {
    font-family: var(--font-text);
    text-transform: capitalize;
}

.sticker_unselect {
    cursor: pointer;
}
