*:focus {
outline: none;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg.png");
    height: 598px;
    padding-top: 69px;
    padding-left: 69px;
    padding-right: 69px;
    gap: 169px;
    margin-bottom: 20px;
}

.header_logo_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.header_logo {
    font-family: var(--font-title);
    color: var(--logo-color);
    font-size: 25px;
    text-align: left;
}

.header_logo_circle {
    width: 24px;
    height: 23px;
}

.header_search_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 954px;
}

.header_search_title {
    font-family: var(--font-title);
    color: var(--header-title-color);
    font-size: 44px;
    text-align: center;
}

.header_search_input {
    font-family: var(--font-text);
    color: var(--second-text-color);
    font-size: 16px;
    height: 72px;
    border-radius: 11px;
    border: none;
    padding: 0;
    padding-left: 35px;
    z-index: 1;
}

.header_input_button {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 70px;
    width: 51px;
    height: 52px;
    border: none;
    border-radius: 10px;
    z-index: 2; 
}

.header_input_icon {
    font-size: 20px;
    color: var(--second-text-color);
}

.header_search_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 51px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    z-index: 2;
}

.header_search_button_icon {
    color: var(--button-icon);
    font-size: 27px;
}

.header_search_button:hover, .header_search_button:hover .header_search_button_icon {
    background-color: var(--hover-button-color);
    color: var(--hover-button-icon);
}

.suggestions_wrapper {
    position: absolute;
    padding: 20px;
    top: 220px;
    width: 914px;
    border-radius: 0 0 11px 11px;
    font-family: var(--font-text);
}

.suggestions_wrapper_bg {
    background-color: white;
}

.suggestions_wrapper li {
    font-size: 14px;
    padding-top: 5px;
    padding-top: 5px;
    cursor: pointer;
}