:root {
    /* Font */
    --font-anton: "anton";
    --font-manrope: "manrope";

    --font-title: var(--font-anton);
    --font-text: var(--font-manrope);

    /* Colors */
    --black: #1B1B1B;
    --yellow: #FFD15B;
    --grey: #7A7A7A;
    --white: #FFF;

    --text-color: var(--black);
    --second-text-color: var(--grey);

    --logo-color: var(--white);
    --header-title-color: var(--yellow);
    --button-color: var(--black);
    --button-icon: var(--white);
    --hover-button-color: var(--yellow);
    --hover-button-icon: var(--black);

    --card-bg-color: var(--white);
    --recipe-time-icon: var(--yellow);
   

}